.page-container {
  background-color: #163A6B;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-contenedor {
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 90%;
  max-width: 1600px;
  height: 90%;
  overflow-y: auto;
  padding: 20px;
}

.dashboard-title_e {
  text-align: center;
  font-size: 2.5rem;
  font-weight: bold;
  color: #317eeb;
  margin-bottom: 20px;
}

.card_e {
  border-radius: 10px;
  border: 1px solid #ddd;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width: 320px;
  margin-bottom: 15px;
  transition: transform 0.2s;
  background-color: white;
  /* Fondo blanco para las cards */
}

.card_e:hover {
  transform: scale(1.05);
}

.card-body_e {
  padding: 20px;
}

.card-img_e {
  width: 80px;
  height: 80px;
  object-fit: cover;
  border-radius: 50%;
  border: 2px solid #ccc;
}

.card-title_e {
  font-size: 1.5rem;
  font-weight: bold;
  color: black;
  /* Texto negro */
  margin-top: 10px;
}

.card-text_e {
  font-size: 14px;
  margin-bottom: 5px;
  color: black;
  /* Texto negro */
}

.card-actions_e {
  display: flex;
  justify-content: center;
  gap: 8px;
  margin-top: 15px;
}

.card-container_e {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 15px;
}

.search-input {
  background-color: white;
  color: black;
}

@media (max-width: 768px) {
  .card_e {
    width: 100%;
  }
}