.dashboard-container_e {
  padding: 20px;
}

.dashboard-title_e {
  margin-bottom: 20px;
  color: #007bff;
  font-size: 24px;
  font-weight: bold;
}

.card_e {
  border-radius: 10px;
  border: 1px solid #ddd;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width: 320px;
}

.card-body_e {
  padding: 20px;
}

.card-img_e {
  width: 50px;
  height: 50px;
  object-fit: cover;
  border-radius: 50%;
  border: 2px solid #ccc;
}

.card-title_e {
  font-size: 18px;
  font-weight: bold;
}

.card-text_e {
  font-size: 14px;
  margin-bottom: 5px;
}

.text-success_e {
  font-weight: bold;
  color: #28a745 !important;
}

.text-danger_e {
  font-weight: bold;
  color: #dc3545 !important;
}

.card-btn_e {
  font-size: 14px;
  padding: 5px 8px;
  display: flex;
  align-items: center;
}

.card-btn_e svg {
  font-size: 16px;
}

.card-actions_e {
  display: flex;
  justify-content: center;
  gap: 8px;
}

.card-container_e {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 15px;
}

@media (max-width: 768px) {
  .card_e {
    width: 100%;
  }
}